.ST-scrollbar::-webkit-scrollbar{
  width: 8px;
  border-radius: 4px;
}

.ST-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.ST-scrollbar::-webkit-scrollbar-thumb {
  background-color: #222;
}

.ST-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #505050;
}

.single-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.collapse-active-arrow {
  transform-origin: center;
  transform: rotateZ(0deg);
  animation: arrowRoll 200ms linear forwards;
}

@keyframes arrowRoll{
  0%{
    transform: rotate(0deg);
  }
   100%{
    transform: rotate(90deg);
  }
}